<div class="flash" style="display: none;"></div>

<div id="prueba">
<%= csrf_meta_tag %>
<% content_for :header_tags do %>
	<%= javascript_include_tag "gg_articles.js", :plugin => 'gestion_garantias' %>
   <%= stylesheet_link_tag "/gg_articles.css", :plugin => 'gestion_garantias', :media => "screen" %>
<% end %>

<%= form_for [@project, @file, @article] do |f| %>
<div class="splitcontentleft articles_form_left">
	<h2><%= l(:"file.file") %></h2>
		<table class="list">
	<thead>
	<tr>
	   <th><%= l(:"file.code_file") %></th>
	</tr>
	</thead>
		<tbody>
			 <tr class="<%= cycle("odd", "even") %>">
			 	<td><%= @file.code_file %></td>
			 </tr>
		</tbody>
	</table><br>

	<fieldset>
		<legend><h2><%= l(:"article.article") %></h2></legend>
		<%= f.hidden_field :gg_file_id, :value => @file.identity_file %>

		<div><%= f.label l(:"article.code_article")+": " %></div>
		<%= f.text_field(:code_article, :size => 33) %>

		<div><%= f.label l(:"article.code_type_material")+": " %></div>
		<%= f.text_field(:code_type_material, :size => 33) %>

		<div><%= f.label l(:"article.code_provider")+": " %></div>
		<%= f.text_field(:code_provider, :size => 33) %>

		<div><%= f.label l(:"article.name_provider")+": " %></div>
		<%= f.text_field(:name_provider, :size => 33) %>
	</fieldset>
</div>	

<div class="splitcontentright articles_form_right">
	<fieldset class="f_contacts">
		<legend><h2><%= l(:"contact.contacts") %></h2></legend>
		<%= f.fields_for :contacts, @article.contacts do |f2| %>
			<%= f2.hidden_field :level_1 %>
			<%= f2.hidden_field :level_2 %>
			<%= f2.hidden_field :level_3 %>

			<%= render :partial => "gg_articles/partials/form_contact", :locals => {:user => @article.contacts.first_level, :level => 1 } %>
			<%= render :partial => "gg_articles/partials/form_contact", :locals => {:user => @article.contacts.second_level, :level => 2 } %>
			<%= render :partial => "gg_articles/partials/form_contact", :locals => {:user => @article.contacts.third_level, :level => 3 } %>
		<% end %>
	</fieldset>
</div>
	<div style="clear: both"></div>
	
	<fieldset>
		<legend><h2><%= f.label l(:"ans.ans_description") %></h2></legend>
		<% (0...@count_ans).each do |i| %>
			<%= f.fields_for :gg_ans, @ans[i] do |j| %>

				<fieldset class="f_ans field_for_ans_<%= i %>">
				<p class="l_ans"><%= j.label l(:"ans.priority")+": " %></p>
				<%= j.text_field(:priority, :class => "t_ans") %>
				<p class="l_ans"><%= j.label l(:"ans.description")+": " %></p>
				<%= j.text_area(:description, :class => "t_ans", :rows => 7) %>
				<%= link_to '<span class="icon icon-del detele_text">'.html_safe+l(:text_delete), project_gg_file_gg_article_gg_an_path(@file,@article,@ans[i], :project_id => @project), :confirm => l(:"ans.confirm_delete"), :method => :delete, class: "delete_ans_rails" if !@ans[i].new_record? %>
				</fieldset>

			<% end %>
		<% end %>

		<div class="contextual btn_add_ans">
		    <a><span class="icon icon-add add_ans" data-count="<%= @count_ans %>"><%= l(:"ans.new") %></span></a>
		</div>
	</fieldset>

	<div>
	<%= f.submit l(:"text_save"), style: "float: left;", class: "form_articles_button" %>
	</div>
<% end %>
<%= button_to l(:"text_back"), edit_project_gg_file_path(@file, :project_id => @project), class: "form_articles_button form_articles_button_back", :method => :get %>
</div>

<%= render :partial => "gg_articles/partials/form_contact_create" %>

<script>
	// Configuración de la ventana modal para crear nuevos usuarios.
	$(".dialog_create_user").dialog({
		autoOpen: false,
		modal: true,
		minWidth: 500,
		close: function(event, ui){
			$('.in_use').removeClass('in_use');
		}
	});
</script>