<%= csrf_meta_tag %>
<% content_for :header_tags do %>
  <%= javascript_include_tag "gg_files.js", :plugin => 'gestion_garantias' %>
  <%= stylesheet_link_tag "/gg_files.css", :plugin => 'gestion_garantias', :media => "screen" %>
<% end %>

<%= render "gg_files/partials/form" %>
<!-- OCULTADO el boton de crear nuevos artículos
<div class="contextual">
  <%# link_to '<span class="icon icon-add">'.html_safe+l(:"article.new"), new_project_gg_file_gg_article_path(@file, :project_id => @project ) %>
</div>
-->
<fieldset>
<legend><h2><%= l(:"article.articles") %></h2></legend>
<table class="list">
<thead>
<tr>
   <th><%= l(:"article.code_article") %></th>
   <th><%= l(:"article.name_provider") %></th>
   <!-- OCULTADO los campos de fecha de inicio y de fin de la garantia
   <th><%# l(:"article.guarantee_start") %></th>
   <th><%# l(:"article.guarantee_end") %></th> -->
   <th><%= l(:"ans.ans") %></th>
   <th><%= l(:"article.permissions") %></th>

</tr>
</thead>
<tbody>
	<% @articles.each do |article| %>
    <tr class="<%= cycle("odd", "even") %> tooltip_contacts" title="<hr><%= article.show_contacts %>">
    	<td><%= link_to article.code_article, edit_project_gg_file_gg_article_path(@file, article, :project_id => @project) %></td>
    	<td><%= article.name_provider %></td>
    	<!-- OCULTADO los campos de fecha de inicio y de fin de la garantia
      <td><%# article.guarantee_start %> </td>
      <td><%# article.guarantee_end %> </td> -->
    	<td><a href="#" class="button_ans" data-id="<%= article.id %>">Consultar</a></td>
    	<td>
    		<%= link_to '<span class="icon icon-edit">'.html_safe+l(:text_edit), edit_project_gg_file_gg_article_path(@file, article, :project_id => @project) %>
        <%# link_to '<span class="icon icon-copy">'.html_safe+l(:text_copy), copy_project_gg_file_gg_article_path(@file, article, :project_id => @project) %>
        <%= link_to '<span class="icon icon-del">'.html_safe+l(:text_delete), project_gg_file_gg_article_path(@file,article, :project_id => @project), :confirm => l(:"article.confirm_delete"), :method => :delete %>
      </td>
      <div class="dialog_ans dialog_ans_<%= article.id.to_s %>" title="ANS">
          <% if !article.gg_ans.empty? %>
            <% article.gg_ans.each do |ans| %>
              <hr>
                <p class="dialog_ans_title"><%= l(:"ans.priority") %>:</p>
                <p><%= ans[:priority] %></p>
                <p class="dialog_ans_title"><%= l(:"ans.description") %>:</p>
                <p><%= ans[:description] %></p>
              <hr>
            <% end %>
          <% else %>
            <hr>
              <p><i><center><%= l(:"ans.ans_empty") %></center></i></p>
            <hr>
          <% end %>
      <div>
    </tr>
    <% end %>
</tbody>
</table>
</fieldset><br>
</fieldset>